



<div *ngIf=show>
  <div id = userInputs>

    <div >
      <table class="tableClass">
        <tr *ngFor="let row of headers">
          <td id = "rowHeaders">{{ row }}</td>
        </tr>
      </table>
    </div>

    <div>
      <table class="tableClass">
        <tr *ngFor="let row of inputs; let i = index; trackBy trackByFn">
          <td><input class="inputValues" [style.--dataWidth.px]="dataWidth" [(ngModel)]="inputs[i]" (change)="valueEntry(i)"/></td>
        </tr>
      </table>
    </div>

  </div>
</div>

