<nav class = "navPanel">
  <ul style = "list-style: none">
    <li routerLinkActive = "active current">
      <a class = "routeLink" routerLink = "">Home</a>
    </li>
    <li routerLinkActive="active current">
      <a class = "routeLink" routerLink="/typeConversion">Data Type Conversion</a>
    </li>
    <li routerLinkActive="active current">
      <a class = "routeLink" routerLink="UDTStream">UDT Data Stream</a>
    </li>
    <li routerLinkActive="active current">
      <a class = "routeLink" routerLink="/rs232">RS232 Serial</a>
    </li>
  </ul>
</nav>
