#gridContainer{
  display: grid;
  grid-template-columns: 30% auto auto auto auto ;

}

#dropDown{
  padding-top: 10px;
  text-align: center;
}

#dropDownHeader{
  color: darkgrey;
}

.minMax{
  color: darkgrey;
}
