
<h1>User Defined Datatype Bit Stream</h1>
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
         accept=".csv" />

</div>

<div class="conversionOutputs">

<div class="grid-item">
  <table class="Bits">
    <tr>
      <th>Bits</th>
    </tr>
    <tr  *ngFor="let bit of bitColumn">
      <td class="tableRow">{{ bit }}</td>
    </tr>
  </table>
</div>
<div class="grid-item">
  <table class="SINT">
    <tr>
      <th>SINT</th>
    </tr>
    <tr *ngFor="let sint of sintColumn">
      <td>{{ sint }}</td>
    </tr>
  </table>
</div>

<div class="grid-item">
  <table class="INT">
    <tr>
      <th>INT</th>
    </tr>
    <tr *ngFor="let int of intColumn">
      <td>{{ int }}</td>
    </tr>
  </table>
</div>

<div class="grid-item">
  <table class="DINT">
    <tr>
      <th>DINT</th>
    </tr>
    <tr *ngFor = "let dint of dintColumn">
      <td>{{ dint }}</td>
    </tr>
  </table>
</div>

  <div class="grid-item">
    <table class="tagNames">
      <tr>
        <th>Tags</th>
      </tr>
      <tr *ngFor = "let tag of tagColumn">
        <td>{{ tag }}</td>
      </tr>
    </table>
  </div>

</div>
