#pageSettings{
  display: grid;
  grid-template-columns: auto;
  /*height: 100vh;*/
  place-items: center;
}

h1{
  color: lavender;
  text-align: center;
  font-size: xxx-large;
  font-family: "Bradley Hand ITC";
}

.instructions{
  color: lavender;
  justify-items: center;



}
.instructionHeader{
  color: lavender;
}
.csv-file-chooser-section{
  background-color: white;
  width: 50%;
}

#gridContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;

}
#contentContainer{
  justify-content: center;
}


.typeExample{
  color: darkgrey;
  border: 1px solid darkcyan;
}

.Example{
  /*border: 1px solid darkgrey;*/
}

.exampleInstructions{
  text-align: center;
  color: lightgrey;
  margin: 0;
}
.exampleTable{
margin: auto

}
