#pageSettings{
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  /*height: 100vh;*/
  place-items: center;
}

h1{
  color: lavender;
  text-align: center;
  font-size: xxx-large;
  font-family: "Bradley Hand ITC";
  line-height: 50px;
}

.instructions{
  color: lavender;
  justify-items: center;
}


.instructionHeader{
  color: lavender;
}
.csv-file-chooser-section{
  color: black;
  width: 30em;
  margin: auto;
}

#chooseFile{
  background-color: white;

}


#gridContainer{
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
}

#contentContainer{
  justify-content: center;
}


.typeExample{
  color: darkgrey;
  border: 1px solid darkcyan;
}


.exampleInstructions{
  text-align: center;
  color: lightgrey;
  margin: 0;
}
.exampleTable{
margin: auto

}
