h1{
  color: lavender;
  text-align: center;
  font-size: xxx-large;
  font-family: "Bradley Hand ITC";
}

h2{
  padding-top: 20px;
  color: lavender;
  text-align: center;
  font-size: xx-large;

}
#thisGrid{
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  height: 95%;
}
#inputValues{
  justify-content: left;
}
.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

#typeCompare{
  color: lavender;
  /*align-items: center;*/
  /*justify-content: center;*/
}

#tableProp{

  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 20px;
  border-bottom: 1px solid white;

}
.rowData{
  width: 100px;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  text-align: center;

}

#dataProp{
  border-bottom: 1px solid white;
  /*background-color: grey;*/
}
/*#inputValues{*/
/*  border-bottom: 1px solid white;*/
/*}*/


