<div id="thisGrid">

<h1>Data Type Conversions</h1>
  <div class ="grid-item" id="inputValues">
    <app-input-section
      (typeOut)="catchType($event)"
      (dataChangedOut)="catchDataChange($event)">
    </app-input-section>
  </div>

  <div class ="grid-item">
    <app-output-section
      [typeObj]="typeObj"
      [dataChanged]="dataChanged">
    </app-output-section>
  </div>

  <h2>PLC Data Types</h2>

  <div class = "grid-item" id = "typeCompare">
    <table >
      <tr *ngFor="let i of typeTable(); let index = index">
        <td id = "tableProp">{{ i.name }}</td>
        <td id = "dataProp">
          <tr *ngFor = "let j of i.data">
            <td class = "rowData" >{{ j[1] }}</td>
            <td class = "rowData">{{ j[2] }}</td>
            <td class = "rowData">{{ j[3] }}</td>
            <td class = "rowData">{{ j[4] }}</td>
            <td class = "rowData">{{ j[5] }}</td>
          </tr>
    </table>
  </div>

</div>




