/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

.mainLayout {
  background-image: url(assets/images/BackGround.jpg);
  background-repeat: repeat;
  overflow-y: scroll
/*<a href="https://www.freepik.com/free-vector/abstract-black-texture-background-hexagon_18702139.htm#query=dark%20background&position=4&from_view=keyword">Image by almumtazza</a> on Freepik*/
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
