<h1>
  Welcome to PLC Tools
</h1>

<div id="gridContainer">


  <div class="pageLink">
    <p class="linkHead">Convert the binary value of a data type to any other data type. </p>
    <a class="link" routerLink="/typeConversion">Data Type Conversion</a>
  </div>

  <div class="pageLink">
    <p class="linkHead">View Your User Defined Data Types in a Data Stream</p>
    <a class="link" routerLink="UDTStream">UDT Data Stream</a>
  </div>

  <div class="pageLink">
    <p class="linkHead">Get the Data Bit(s) of an Integer Array</p>
    <a class="link" routerLink="ArrayConversion">Array to Bit Conversion</a>
  </div>

  <div class="pageLink">
    <p class="linkHead">Convert a Raw Analog Value into a Process Value</p>
    <a class="link" routerLink="AnalogConversion">Analog Conversion</a>
  </div>

  <div class="pageLink">
    <p class="linkHead">Quick Explainers on Serial Communication</p>
    <a class="link" routerLink="SerialCommunication">Serial Communication</a>
  </div>

</div>
